/*测试准备*/
.prepare{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.prepare>.prepare-tips{
	width: 50%;
	margin-top: 30px;
	font-size: 16px;
	text-align: center;
}

.prepare>.start{
	width: 100px;
	height: 40px;
	border: none;
	background: #4DBCE9;
	margin-top: 30px;
	color: #FFFFFF;
	font-size: 16px;
	cursor: pointer;
}

/*测试内容*/
.test-borad{
}
.test-borad>.content{
	width: 600px;
	height: 600px;
	box-sizing: content-box;
	/*border: 1px solid black;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.circle{
	width: 10px;
	height: 10px;
	margin: 10px;
	background: black;
	border-radius: 100%;
}
.no-circle{
	width: 10px;
	height: 10px;
	margin: 10px;
	background: none;
	border-radius: 100%;
}

/*测试提交*/
.test-submit{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.test-submit>.submit-in{
	width: 350px;
	margin-top: 30px;
	text-align: center;
}
.test-submit>.submit-tips{
	margin-top: 30px;
	font-size: 16px;
}
.test-submit>.submit-btn{
	margin-top: 0px;
}

/*实验结束*/
.test-end{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.test-end>.show-result{
	margin-top: 30px;
}

/*实验结果*/
.test-result{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.test-result>.table-view>table{
	background: #FFFFFF;
	text-align: center;
}
.test-result>.chart{
	/*background: cornflowerblue;*/
	width: 600px;
	height: 333px;
	margin-left: 30px;
}
